html{
    background-image: url("../../public/img/logo192.png");
    background-color: rgb(1, 6, 9);
    background-repeat: repeat;
    background-size: 2000px;
    background-blend-mode: screen;
    /* opacity: 90%; */
}

.container{
    background-color: rgb(1, 6, 9);
}

.column{
    background-color: rgb(1, 6, 9);
}

.hero-body{
    background-image: url("../../public/img/logo192.png");
    background-size: cover;
    background-color: rgb(1, 6, 9);
}

/* planet */

.planet{
    position: absolute;
    right: -10vw;
    width: 70vw;
    top: 6.5vw;
    animation: planetery 4s infinite;
    opacity: 70%;
    transition: 3s;
    z-index: 30;
  }

  @keyframes planetery {
    0%{top: 6vw;}
    50%{top: 6.5vw;}
    100%{top: 6vw;}
  }

  .planet:hover{
    opacity: 100%;
    transform: scale(110%);
  }

  .countdown{
    font-size: 9rem;
    position: relative;
    right: -5vw;
    top: 0vw;
    z-index: 20;
    transition: 5s;
    color: rgba(255, 255, 255, 0.326);
  }

/* .planet:hover + .countdown{
  transform: skewY(-20deg);
} */


  .hero.is-info .title{
    color: rgba(255, 255, 255, 0.66);
  }

  .section{
    /* background-color: rgba(0, 0, 0, 0.304); */
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.304), rgba(0, 0, 0, 0.304));
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 100;
  }

  .card{
    background-color: rgba(255, 255, 255, 0.115);
    backdrop-filter: blur(5px);
    color: black;
    border-radius: 2%;
  }

  .title{
    color: white;
  }

  .subtitle{
    color: rgb(157, 157, 157);
  }

  .card .content{
    margin-top: -1.5vw;
    color: rgb(184, 184, 184);
  }


  .black-text{
    color: black;
  }

  .white-text{
    color: rgb(189, 189, 189);
  }

  .curved{
    width: 120%;
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
    bottom: -5vw;
    left: -10vw;  
    margin: auto;
    /* box-shadow: 10px 10px 10px 10px; */
    z-index: 20;
    /* display: none; */

  }

  .circle{
    height: 12vw;
    width: 60vw;
    position: relative;
    border-radius: 100%;
    bottom: 6.5vw;
    left: 20vw;  
    filter: blur(60px);
  }

  .cliped{
    height: 12rem;
    overflow: hidden;
  }

  .heor{
    z-index: 0;
  }

  .sec-comp{
    z-index: 34;
  }

  .container{
    background: none;
  }

  .column{
    background: none;
  }

  .moremargin{
    margin-bottom: 10px ;
  }