html{
    background-image: url("../../public/img/logo192.png");
    background-color: rgb(1, 6, 9);
    background-repeat: repeat;
    background-size: 2000px;
    background-blend-mode: screen;
    scroll-behavior: smooth;
    /* opacity: 90%; */
}
@font-face {
  font-family: "Centuri";   /*Can be any text*/
  src: local("Centuri"),
    url("../../src/fonts/Centuri.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 5px;
  transition: 1s;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(45, 45, 45); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
  /* width: 6px;  */
}

.loading{
  background-color: black;
  height: 100vh;
  width: 100vw;
  z-index: 1200;
  position: sticky;
  top: 0px;
}

.load-img{
  height: 50%;
  height: 50%;
  position: absolute;
  left: 25vw;
  top: 25vh;
  animation: blip 0.5s infinite;
  /* opacity: 20%; */
}

@keyframes blip {
  0%{opacity: 20%;}
  50%{opacity: 70%;}
  100%{opacity: 20%;}
}

.hide-load{
  display: none;
}

.container{
    background-color: rgb(1, 6, 9);
}

.column{
    background-color: rgb(1, 6, 9);
}

.hero-body{
    background-image: url("../../public/img/logo192.png");
    background-size: cover;
    background-color: rgb(1, 6, 9);
    
}

.kngine{
  position: fixed;
  top: 40vh;
  left: 0vw;
  height: 30vh;
  width: 130vw;
  opacity: 100%;
}

.sec-comp{
  background-color: rgba(0, 0, 0, 0.362);
  box-shadow: 0 0 150px 150px rgba(0, 0, 0, 0.834);
  z-index: 10;
}


.breaker{
  border-top: 3px solid rgb(255, 255, 255);
  border-radius: 6px;
  width: 90vw;
  position: relative;
  left: 5vw;
  z-index: 100;
}
.breaker2{
  border-top: 3px solid rgb(255, 255, 255);
  border-radius: 6px;
  width: 10vw;
  top: 2vh;
  position: relative;
  left: 18vw;
  z-index: 0;
}
.breaker3{
  border-top: 3px solid rgb(255, 255, 255);
  border-radius: 6px;
  width: 59vw;
  position: relative;
  left: 31vw;
  top: -1.5vh;
  z-index: 0;
}
.breaker-form{
  border-top: 3px solid rgb(255, 255, 255);
  border-radius: 6px;
  width: 30vw;
  opacity: 20%;
  position: relative;
  left: 5vw;
  z-index: 100;
}

/* planet */
.full{
  position: absolute;
  z-index: 2;
  /* top: 130vh; */
  left: 50vw;
  height: 100vh;
  width: 100vw;
  animation: planet_motion 7s infinite;
}

.comp-full{
  position: absolute;
  z-index: 2;
  /* top: 130vh; */
  left: 50vw;
  height: 100vh;
  width: 100vw;
  animation: planet_motion 7s infinite;
}

.feat-full{
  padding-top: 55%;
  left: -5vw;
}

.throw-full{
  padding-top: 120%;
  left: 15vw;
  /* filter: blur(2px); */
}
.abt-full{
  padding-top: 210%;
  left: 60vw;
  filter: blur(5px);
}


.full img{
  height: 100vh;
}

.feat-full img{
  height: 50vh;
}

.throw-full img{
  height: 90vh;
}
.abt-full img{
  height: 50vh;
}

@keyframes planet_motion {
  0%{top: 155vh;}
  50%{top: 160vh;}
  100%{top: 155vh;}
}
.planet{
    position: fixed;
    right: -10vw;
    width: 70vw;
    bottom: 4.5vw;
    animation: planetery 4s infinite;
    opacity: 70%;
    transition: 3s;
    z-index: 30;
  }

  @keyframes planetery {
    0%{bottom: -5vw;}
    50%{bottom: -8vw;}
    100%{bottom: -5vw;}
  }

  .planet:hover{
    opacity: 100%;
    transform: scale(110%);
  }
  .countdown{
    position: relative;
    /* right: -5vw; */
    top: -10vw;
    z-index: 20;
    /* transition: 5s; */
    color: rgba(255, 255, 255, 0.326);
    font-family: "Centuri";
    font-size: 5rem;
  }

  .countdown-mobile{
    position: relative;
    /* right: -5vw; */
    top: -10vw;
    z-index: 20;
    /* transition: 5s; */
    color: rgba(255, 255, 255, 0.326);
    font-family: "Centuri";
    font-size: 5rem;
  }
/* .planet:hover + .countdown{
  transform: skewY(-20deg);
} */


  .hero.is-info .title{
    color: rgba(255, 255, 255, 0.66);
  }

  .section{
    /* background-color: rgba(0, 0, 0, 0.304); */
    background-image: black;
    /* backdrop-filter: blur(5px); */
    position: relative;
    z-index: 50;
    /* box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.399); */
  }

  .card{
    background-color: rgba(19, 19, 19, 0.544);
    backdrop-filter: blur(5px);
    color: black;
    transition: 0.25s;
    border-radius: 2%;
  }
.card:hover{
  background-color: rgba(63, 63, 63, 0.544);
}
  .title{
    color: white;
  }

  .subtitle{
    color: rgb(157, 157, 157);
  }

  .card .content{
    margin-top: -1.5vw;
    color: rgb(184, 184, 184);
  }


  .black-text{
    color: black;
  }

  .white-text{
    color: rgb(189, 189, 189);
  }

  .curved{
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
    left: -5vw;  
    margin: auto;
    /* box-shadow: 10px 10px 10px 10px; */
    z-index: 20;
    /* display: none; */

  }

  .circle{
    height: 12vw;
    width: 60vw;
    position: relative;
    border-radius: 100%;
    bottom: 2.5vw;
    left: 20vw;  
    filter: blur(60px);
  }

  .cliped{
    height: 18rem;
    width: 110vw;
    overflow: hidden;
  }

  .heor{
    z-index: 0;
  }

  .sec-comp{
    z-index: 34;
  }

  .container{
    background: none;
  }

  .column{
    background: none;
  }

  .moremargin{
    margin-bottom: 10px ;
  }

  .footer{
    position: relative;
    bottom: -20vh ;
  }

  .hover{
    transition: 0.5s;
  }
  .hover:hover{
    transform: scale(105%);
  }
  .hover .title{
    color: rgb(167, 167, 167);
    transition: 0.5s;
  }
  .hover .title:hover{
    color: rgb(255, 255, 255);
  }

  .hover .subtitle{
    color: rgb(105, 105, 105);
    transition: 0.5s;
  }
  .hover .subtitle:hover{
    color: rgb(175, 175, 175);
  }
  .speakers-div{
    height: 240px;
    width: 240px;
    margin: 0px auto;
    margin-bottom: 0%;
    overflow: hidden;
    border-radius: 2%;
    transition: 1s;
    overflow: hidden;
    margin-bottom: 5%;
  }
  .speakers-div:hover{
    border-radius: 5%;
  }
  .speakers-img{
    width: 100%;
    transition: 0.5s;
    filter: grayscale(100%);
  }
  .speakers-img:hover{
    filter: grayscale(0%);
    transform: scale(125%);
  }


  .model-background{
    background-color: black;
  }
  .modal-card-body{
    background-color: rgb(13, 13, 13);
    color: rgba(255, 255, 255, 0.792);
  }
  .modal-card-foot, .modal-card-head{
    background-color: black;
    color: white;
  }
  .modal-card-title{
    color: white;
  }
  .delete{
    transition: 0.5s;
  }
  .delete:hover{
    transform: rotate(180deg);
  }

/* .card:has(.comp) .card-image{
  background-color: rgba(0, 0, 0, 0.521);
} */

.image.is-4by3{
  background:  radial-gradient(circle, rgb(0, 0, 15) 0%, rgba(0, 0, 0, 0.366) 100%);
}

.comp-img .image.is-4by3 img{
  height: 90%;
  width: 90%;
  padding-left: 10%; 
  padding-top: 10%; 
  transition: 1s;
  /* height: 100px; */
}

.comp-img .image.is-4by3 img:hover{
  height: 100%;
  width: 100%;
  transform: rotate(2deg);
  padding-left: 0%; 
  padding-top: 0%; 
}

.throwback-img{
  overflow: hidden;
}

.throwback-img img{
  padding: 0 0 0 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.throwback-img img:hover{
  transform: scale(110%);
}

.model-holder{
  position: fixed;
  z-index: 120;
}
  
.navbar{
  display: none;
}
.countdown-mobile{
  display: none;
}
.fa{
  font-size: 30px;
  margin-left: 1%;
  color: rgb(169, 169, 169);
  padding: 0.2%;
  height: 35px;
  width: 35px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 40px 0.1px rgba(0, 0, 0, 0.386);
  margin-bottom: 0.45%;
  transition: 0.25s;
}
.fa:hover{
  background-color: rgba(37, 37, 255, 0.353);
  color: rgb(255, 255, 255);
  transform: scale(110%);
}
.modal-card{
  width: 70vw;
}

.iframe{
  margin-left: 3vw;
  width: 60vw;
  height: 150vh;
}
.content{
  height: 10vh;
}

@media (max-width: 1114px) {
  .countdown{
    font-size: 50px;
    left: 10vw;
  }
  
.comp-full{
  left: 65vw;
}

.feat-full{
  left: -20vw;
}

.navbar{
  display: none;
}
.modal-card{
  margin-left: 10%;
}

}


@media (max-width:800px) {
  .kngine{
    display: none;
  }
 
  #nav{
    display: none;
  }
  .navbar{
    display: inherit;
  }

  .navbar{
    backdrop-filter: blur(5px);
    background-color: rgba(105, 105, 105, 0.082);
    position: relative;
  }
  .navbar.is-fixed-bottom, .navbar.is-fixed-top{
    z-index: 100;
  }
.navbar-menu{
  background-color: rgba(0, 0, 0, 0.082);
  animation: shownav 6s;
}

@keyframes shownav {
  0%{top: 0px;}
  50%{top: 10px;}
  100%{top: 0px;}
}
  .navbar-item{
    height: 10vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.203);
  }

  .navbar-burger{
    left: 0px;
    margin-left: 0px;
    color: white;
  }

  .navbar{
    background: rgba(255, 255, 255, 0);
  }
  .navbar-menu{
    height: 200vh;
    background-color: rgba(78, 78, 78, 0.203);
  }

  .navbar-brand{
    background-color: rgba(0, 0, 0, 0.299);
    backdrop-filter: blur(15px);
  }
  .modal-card{
    width: 70vw;
    margin-left: -15vw;
  }
  .card{
    margin-left: 25vw;
    width: 50vw;
  }
}


@media (max-width: 385px) {
  .countdown{
    display: none;
  }
  .countdown-mobile{
    font-size: 50px;
    display: inherit;
    font-size: 50px;
    left: 10vw;
  }
  .countdown-mobile{
    font-size: 105px;
    left: 10vw;
  }

  .planet{
    width: 70vh;
    height: 50vh;
    opacity: 100%;
    right: -180px;
  }
  
.comp-full{
  left: 35vw;
}

.feat-full{
  padding-top: 650%;
  left: -50vw;
}
.throw-full {
  padding-top: 880%;
  height: 9vh;
  width: 90vh;
}
.abt-full {
  padding-top: 1200%;
  padding-right: 20vw;
}
.is-size-4{
  font-size: 1rem !important;
}

.container .is-fluid{
  margin-left: -10vw !important;
  margin-right: -10vw !important;
  width: 95vw;
}
.nav{
  display: none;
}
.curved{
  width: 120%;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
  bottom: -40vw;
  left: -10vw;  
  margin: auto;
  /* box-shadow: 10px 10px 10px 10px; */
  z-index: 20;
  /* display: none; */

}
.modal-card{
  width: 90vw;
  margin-left: -45vw;
}
.iframe{
  width: 75vw;
}
.card{
  width: 70vw;
  margin-left: 10vw;
}
.footer{
  bottom: 20vh ;
  display: inherit;
}
}

@media (max-width:1000px) {
  .curved{
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    height: 10vh;
  }
}