/* .absolute{
  position: sticky;
  left: 5%;
  width: 20vw;
  top: 20%;
  height: 0vw;
  z-index: 30;
  transform: scale(150%);
  transition: 1s;

}
 */

/* 
.panel-block:not(:last-child), .panel-tabs:not(:last-child){
  border-bottom:rgba(0, 0, 0, 0.229);
  backdrop-filter: blur(5px);
  padding-bottom: 1%;
} */

.logo{
  position: fixed;
  left: 1vw;
  top: 1vh;
  height: 7vh;
  z-index: 100;
}

.nav{
  position: fixed;
  top: 40vh;
  left: -16vw;
  /* width: 20vw; */
  /* height: 0vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  transition: 1s;
  opacity: 80%;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.nav:hover{
  left: -10px;
  opacity: 100%;
}

.nav a{
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 6%;
  transition: 0.5s;
  /* margin-top: 10px; */
}

.nav a:hover{
  color: rgb(255, 255, 255);
  transform: scale(110%);
  padding-left: 20px;
  font-weight: bolder;
}
/* ..nav-controller{
  cursor: pointer;
  z-index: 3;
  right: 5px;
  top: 5px;
  position: absolute;
} */

/* ..navbar{
  position: fixed;
  top: 10%;
  left: -5px;
  width: 2vw;
  height: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.118);
  backdrop-filter: blur(20px);
  border-radius: 5px;
} */


/* ..navbar:hover + #nav{
  animation: show 3s; 
  position: absolute;
  left: 0px;
} */

/* #nav:hover{
  animation: show 3s; 
  position: absolute;
  left: 0px;
} */


/* .hide {
  position: absolute;
  left: -140px;
  animation-delay: 1s;
} */
/* 
@keyframes hide {
  0% {left: 0px;}
  100%{left: -500px}
} */
/* @keyframes show {
  0% {left: -140px;}
  100%{left: 0px}
} */
/* .show {
  animation: hide 5s;
  position: absolute;
  left: 0px;
}

@keyframes hide {
  0% {left: -500px;}
  100%{left: 0px}
} */

#n1{
  transition: 0.5s;
}
#n2{
  transition: 0.5s;
}
#n3{
  transition: 0.5s;
}
#n4{
  transition: 0.5s;
}

#n1:hover + #n2{
  color: rgba(255, 255, 255, 0.104);
  transform: scale(105%);
  padding-left: 10px;
}
#n2:hover + #n3, 
#n1{
  color: rgba(255, 255, 255, 0.104);
  transform: scale(105%);
  padding-left: 10px;
}
#n3:hover + #n4, 
#n2{
  color: rgba(255, 255, 255, 0.104);
  transform: scale(105%);
  padding-left: 10px;
}
#n4:hover + #n3{
  color: rgba(255, 255, 255, 0.104);
  transform: scale(105%);
  padding-left: 10px;
}

.glass{
  background-color: rgb(255, 255, 255);
  color: white;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 6px 0.5px rgba(95, 95, 95, 0.258);
  border-radius: 0px 21px 21px 0px;
  margin-left: -240px;
  transition: 1s;
  width: 10px;

}
.glass:hover{
  background-color: rgba(255, 255, 255, 0.142);
  backdrop-filter: blur(10px);
  border-radius: 0px 15px 15px 0px;
  margin-left: 20px;
  box-shadow: 0px 0px 6px 0.5px rgba(255, 255, 255, 0.807);
}
 #nav{
  width: 20vw;
 }

.div{
  margin-left: -10px;
}


.div{
  width: 20vw;
  /* padding-bottom: 5vw; */
  margin-bottom: 0.75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.nav-image{
  width: 20%;
  position: relative;
  right: 0px;
}

.hide{
  display: none;
}

.navbar-item{
  font-size: 20px;
  font-weight: bolder;
  color: rgb(207, 207, 207);
  padding-left: 20vw;
}

